*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --cor-de-fundo:#EBECEE;
    --branco: white;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 162.37%);
}

body{
    background-color: var(--cor-de-fundo);
}

.container__imagem{
    padding: 1em;
}

.cabecalho{
    background-color: var(--branco);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.cabecalho__menu-hunburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url('imagens/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container{
    display:flex;
    align-items: center;
}

.oculto {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s;
    width: 0;
}

.aberto {
    color: black;
    opacity: 1;
    width: 350px;
    max-width: 500px;
    background-color: var(--branco);
}

.conteudo ul li{
    padding: 10px 10px;
    cursor: pointer;
}

.lis{
    color: #104064;
}

.categoria{
    color: #fc6921;
}

.banner{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    padding: 1em;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url('imagens/Lupa.svg') no-repeat;
    background-position: 1em;
}

.carrossel__titulo{
    background: var(--branco);
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next{
    cursor: pointer;
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}